.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $color-accent;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
  &-header {
    color: $color-headline;
  }
  &-footer {
    color: $color-main;
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
